## Python Data Classes

In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as init, repr, and eq, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [1]:
from dataclasses import dataclass

In [2]:
# In normal way we can create class like this

class Person:
    def __init__(self, name:str, age:int, address:str):
        self.name = name
        self.age = age
        self.address = address
    
    def __repr__(self):
        return f"Name: {self.name}, Age: {self.age}, Address: {self.address}"

    

# Create a object for our class
person1 = Person("Alamin", 23, "Faidabadh-Chowrasta, Uttara, Dhaka-1230")
person2 = Person("Sharin akter", 22, "Faidabadh-Chowrasta, Uttara, Dhaka-1230")

print(person1)

# or

print(repr(person2))

Name: Alamin, Age: 23, Address: Faidabadh-Chowrasta, Uttara, Dhaka-1230
Name: Sharin akter, Age: 22, Address: Faidabadh-Chowrasta, Uttara, Dhaka-1230




The @dataclass decorator automatically generates the following methods for you:

-- init(): Initializes the object and assigns the provided values to the attributes.

-- repr(): Provides a string representation of the object.

-- eq(): Implements equality comparison between two objects of the class based on their attributes.

In [3]:
# Now try to implement this above code using data-class

@dataclass
class Person:
    name : str
    age : int
    address : str

        
        
# Create a object for our class
person1 = Person("Tania Akter", 23, "Faidabadh-Chowrasta, Uttara, Dhaka-1230")

print(person1)

Person(name='Tania Akter', age=23, address='Faidabadh-Chowrasta, Uttara, Dhaka-1230')

In [4]:
# We can also give default value

@dataclass
class Person:
    name : str
    age : int
    address : str = "Uttara, Sector-5, Dhaka-1230"

        
        
# Create a object for our class
person1 = Person("Tania Akter", 23)

print(person1)

Person(name='Tania Akter', age=23, address='Uttara, Sector-5, Dhaka-1230')

In [5]:
# We can change instance attribuate value

person1.name = "Fatema akter"

print(person1)

Person(name='Fatema akter', age=23, address='Uttara, Sector-5, Dhaka-1230')

@dataclasses.dataclass(*, init=True, repr=True, eq=True, 
                       order=False, unsafe_hash=False, 
                       frozen=False, match_args=True,
                       kw_only=False, slots=False, weakref_slot=False)

In [6]:
# Now we can't change the value

@dataclass(frozen=True)
class Person:
    name : str
    age : int
    address : str = "Uttara, Sector-5, Dhaka-1230"

        
        
# Create a object for our class
person1 = Person("Tania Akter", 23)

person1.name = "Fatema akter"

print(person1)

FrozenInstanceError: cannot assign to field 'name'

In [7]:
# inheritance 

@dataclass
class Person:
    name:str
    age:int

@dataclass
class Employee(Person):
    employee_id:str
    department:str

        
# person = Person('Krish',31)

employee = Employee("KRish",31,'123','AI')

print(employee)

Employee(name='KRish', age=31, employee_id='123', department='AI')

In [8]:
# Nested Dataclasses

@dataclass
class Address:
    street:str
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:str
    address:Address
        
        
address = Address('123 MAin street','Dhaka','1234')

person=Person("Alamin", 23, address)

In [9]:
print(person)

Person(name='Alamin', age=23, address=Address(street='123 MAin street', city='Dhaka', zip_code='1234'))

In [10]:
person.address.street

'123 MAin street'