## Syntax: lambda arguments : expression

### Why Use Lambda Functions?

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number

In [1]:
result = lambda x : x**2

In [2]:
result(3)

9

### add two number

In [3]:
add_two_num = lambda num1, num2 : num1 + num2

add_two_num(5, 5)

10

In [4]:
# lambda return a function
type(add_two_num)

function

In [5]:
x = lambda a,b,c:a*b+c

print(x(2,4,5))

13

In [6]:
def fun(n):
    return lambda a:a*n

x = fun(5)
print(x(2))

10

In [7]:
# Check given string first leter is a or not

b = lambda x : x[0] == 'a'

b("apple")

True

In [8]:
b("banana")

False

## Check even or odd number

In [9]:
check_even_odd = lambda num : "This is Even number" if num % 2 == 0 else "This is Odd number"

check_even_odd(4)

'This is Even number'

In [10]:
check_even_odd(5)

'This is Odd number'

In [11]:
# Reverse a string

name = "Alamin Bhuyan"

myfunc = lambda x : x[::-1]

myfunc(name)

'nayuhB nimalA'

In [12]:
lis = [1,2,3,4,5,6,7]

myfunc = list(map(lambda x : x**2, lis))

myfunc

[1, 4, 9, 16, 25, 36, 49]

In [13]:
def between(number, min=0, max=20):
    return max > number > min

# Only returns number between 10 and 1000
r = list(filter(lambda x: between(x, min=10), range(50)))

r

[11, 12, 13, 14, 15, 16, 17, 18, 19]

## Using lambda() Function with filter()

In [14]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

# Print the only odd number
final_list = list(filter(lambda x: (x % 2 != 0), li))

print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [15]:
# Filter all people having age more than 18, using lambda and filter() function

# Python 3 code to people above 18 yrs
ages = [13, 90, 17, 59, 21, 60, 5]

adults = list(filter(lambda age: age > 18, ages))

print(adults)

[90, 59, 21, 60]

## Using lambda() Function with map()

In [16]:
# Multiply all elements of a list by 2 using lambda and map() function

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

final_list = list(map(lambda x: x*2, li))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [17]:
# Transform all elements of a list to upper case using lambda and map() function


animals = ['dog', 'cat', 'parrot', 'rabbit']

# here we intend to change all animal names
# to upper case and return the same
uppered_animals = list(map(lambda animal: animal.upper(), animals))

print(uppered_animals)

['DOG', 'CAT', 'PARROT', 'RABBIT']

## Using lambda() Function with reduce()

In [18]:
# Sum of all elements in a list using lambda and reduce() function


from functools import reduce

li = [5, 8, 10, 20, 50, 100]

total = reduce((lambda x, y: x + y), li)

print(total)

193

In [19]:
# Find the maximum element in a list using lambda and reduce() function


import functools

# initializing list
lis = [1, 3, 5, 6, 2, ]

# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")

print(functools.reduce(lambda a, b: a if a > b else b, lis))

The maximum element of the list is : 6