### Link: https://dev.mysql.com/doc/connector-python/en/

In [1]:
import mysql.connector

### Create Connection

In [2]:
mydb = mysql.connector.connect(host='localhost', user='root', password='')

In [3]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000215BECE0CA0>

### Creating a Database

In [4]:
# mydb2 = mysql.connector.connect(host='localhost', user='root', password='', database="mydatabase")

mydb2 = mysql.connector.connect(host='localhost', user='root', password='')

# Create a cursor to do operation in database table
mycursor = mydb2.cursor()

mycursor.execute(""" CREATE DATABASE testdb """)

### Check if Database Exists

You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement

In [5]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(f"Database Name: {x}")

Database Name: ('information_schema',)
Database Name: ('mysql',)
Database Name: ('performance_schema',)
Database Name: ('phpmyadmin',)
Database Name: ('test',)
Database Name: ('testdb',)
Database Name: ('todoapp',)
Database Name: ('w3schools',)

### Before Check if Table Exists or not

In [6]:
mydb3 = mysql.connector.connect(host='localhost', user='root', password='', database="w3schools")

# Create a cursor to do operation in database table
mycursor2 = mydb3.cursor()

mycursor2.execute("SHOW TABLES")

for x in mycursor2:
    if x:
        print("Yes", x)
    else:
        print("No")

Yes ('categories',)
Yes ('customers',)
Yes ('employees',)
Yes ('order_details',)
Yes ('orders',)
Yes ('products',)
Yes ('shippers',)
Yes ('suppliers',)

### Creating a Table

In [7]:
mydb4 = mysql.connector.connect(host='localhost', user='root', password='', database="testdb")

# Create a cursor to do operation in database table
mycursor4 = mydb4.cursor()

mycursor4.execute("CREATE TABLE customers (id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [8]:
# If the table already exists, use the ALTER TABLE keyword

mycursor4.execute("ALTER TABLE customers ADD Email VARCHAR(255) NOT NULL")

### Insert Into Table

##### Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

In [9]:
sql_query = "INSERT INTO customers(name, address, email) VALUES(%s, %s, %s)"

all_value = ("Alamin Bhuyan", "Fidabadh Chowrasta, Uttara", "alaminbhuyan321@gmail.com")

# mycursor4.execute(operation, params=(), multi=False)

mycursor4.execute(sql_query, all_value)

mydb4.commit()
print(mycursor4.rowcount, "record inserted.")

1 record inserted.

### Insert Multiple Rows

In [10]:
sql = "INSERT INTO customers(name, address, email) VALUES(%s, %s, %s)"
val = [
  ('Peter', 'Lowstreet 4', 'alaminbhuyan321@gmail.com"'),
  ('Amy', 'Apple st 652', 'alaminbhuyan322@gmail.com"'),
  ('Hannah', 'Mountain 21', 'alaminbhuyan323@gmail.com"'),
  ('Michael', 'Valley 345', 'alaminbhuyan324@gmail.com"'),
  ('Sandy', 'Ocean blvd 2', 'alaminbhuyan325@gmail.com"'),
  ('Betty', 'Green Grass 1', 'alaminbhuyan326@gmail.com"'),
]

mycursor4.executemany(sql, val)

mydb4.commit()

print(mycursor4.rowcount, "record inserted.")
print("1 record inserted, ID:", mycursor4.lastrowid)

6 record inserted.
1 record inserted, ID: 2

### Select From a Table

In [11]:
# Note: We use the fetchall() method, which fetches all rows from the last executed statement.

mycursor4.execute("SELECT * from customers")

result = mycursor4.fetchall()

for i in result:
    print(i)

(1, 'Alamin Bhuyan', 'Fidabadh Chowrasta, Uttara', 'alaminbhuyan321@gmail.com')
(2, 'Peter', 'Lowstreet 4', 'alaminbhuyan321@gmail.com"')
(3, 'Amy', 'Apple st 652', 'alaminbhuyan322@gmail.com"')
(4, 'Hannah', 'Mountain 21', 'alaminbhuyan323@gmail.com"')
(5, 'Michael', 'Valley 345', 'alaminbhuyan324@gmail.com"')
(6, 'Sandy', 'Ocean blvd 2', 'alaminbhuyan325@gmail.com"')
(7, 'Betty', 'Green Grass 1', 'alaminbhuyan326@gmail.com"')

### Selecting Columns

In [12]:
# Fetch specific column

mycursor4.execute("SELECT name, email FROM customers")

result = mycursor4.fetchall()

for i in result:
    print(i)

('Alamin Bhuyan', 'alaminbhuyan321@gmail.com')
('Peter', 'alaminbhuyan321@gmail.com"')
('Amy', 'alaminbhuyan322@gmail.com"')
('Hannah', 'alaminbhuyan323@gmail.com"')
('Michael', 'alaminbhuyan324@gmail.com"')
('Sandy', 'alaminbhuyan325@gmail.com"')
('Betty', 'alaminbhuyan326@gmail.com"')

### Using the fetchone() Method

If you are only interested in one row, you can use the fetchone() method.

The fetchone() method will return the first row of the result

In [13]:
mycursor4.execute("SELECT * from customers")

result = mycursor4.fetchone()

for i in result:
    print(i)

1
Alamin Bhuyan
Fidabadh Chowrasta, Uttara
alaminbhuyan321@gmail.com

### Select With a Filter
When selecting records from a table, you can filter the selection by using the "WHERE" statement

In [14]:
mydb5 = mysql.connector.connect(host='localhost', user='root', password='', database='w3schools')

new_cursor = mydb5.cursor()

my_sql = "SELECT * FROM customers WHERE Country = 'Germany'"

new_cursor.execute(my_sql)

my_result = new_cursor.fetchall()

for i in my_result:
    print(i)

(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany')
(6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')
(17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')
(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany')
(39, 'Königlich Essen', 'Philip Cramer', 'Maubelstr. 90', 'Brandenburg', '14776', 'Germany')
(44, 'Lehmanns Marktstand', 'Renate Messner', 'Magazinweg 7', 'Frankfurt a.M.', '60528', 'Germany')
(52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Heerstr. 22', 'Leipzig', '04179', 'Germany')
(56, 'Ottilies Käseladen', 'Henriette Pfalzheim', 'Mehrheimerstr. 369', 'Köln', '50739', 'Germany')
(63, 'QUICK-Stop', 'Horst Kloss', 'Taucherstraße 10', 'Cunewalde', '01307', 'Germany')
(79, 'Toms Spezialitäten', 'Karin Josephs', 'Luisenstr. 48', 'Münster', '44087', 'Germany')
(86, 'Die Wandernde Kuh', 'Rita Müller', 'Adenauerallee 900', 'Stuttgart', '70563', 'Germany')

### Wildcard Characters
You can also select the records that starts, includes, or ends with a given letter or phrase.

Use the %  to represent wildcard characters

In [15]:
mydb4 = mysql.connector.connect(host='localhost', user='root', password='', database="testdb")

# Create a cursor to do operation in database table
mycursor4 = mydb4.cursor()

sql = "SELECT * FROM customers WHERE name LIKE '%am%'"

mycursor4.execute(sql)

result = mycursor4.fetchall()

for i in result:
    print(i)

(1, 'Alamin Bhuyan', 'Fidabadh Chowrasta, Uttara', 'alaminbhuyan321@gmail.com')
(3, 'Amy', 'Apple st 652', 'alaminbhuyan322@gmail.com"')

### Prevent SQL Injection
When query values are provided by the user, you should escape the values.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module has methods to escape query values

In [16]:
mydb4 = mysql.connector.connect(host='localhost', user='root', password='', database="testdb")

# Create a cursor to do operation in database table
mycursor4 = mydb4.cursor()

sql = "SELECT * FROM customers WHERE name = %s"

adr = ("Peter", )

mycursor4.execute(sql, adr)

myresult = mycursor4.fetchall()

for x in myresult:
    print(x)

(2, 'Peter', 'Lowstreet 4', 'alaminbhuyan321@gmail.com"')

### ORDER BY DESC

In [17]:
mydb4 = mysql.connector.connect(host='localhost', user='root', password='', database="testdb")

# Create a cursor to do operation in database table
mycursor4 = mydb4.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor4.execute(sql)

myresult = mycursor4.fetchall()

for x in myresult:
    print(x)

(6, 'Sandy', 'Ocean blvd 2', 'alaminbhuyan325@gmail.com"')
(2, 'Peter', 'Lowstreet 4', 'alaminbhuyan321@gmail.com"')
(5, 'Michael', 'Valley 345', 'alaminbhuyan324@gmail.com"')
(4, 'Hannah', 'Mountain 21', 'alaminbhuyan323@gmail.com"')
(7, 'Betty', 'Green Grass 1', 'alaminbhuyan326@gmail.com"')
(3, 'Amy', 'Apple st 652', 'alaminbhuyan322@gmail.com"')
(1, 'Alamin Bhuyan', 'Fidabadh Chowrasta, Uttara', 'alaminbhuyan321@gmail.com')

### Delete with Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in delete statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the delete statement

In [18]:
mydb4 = mysql.connector.connect(host='localhost', user='root', password='', database="testdb")

# Create a cursor to do operation in database table
mycursor4 = mydb4.cursor()

sql = """DELETE FROM customers WHERE name = %s"""

adr = ("Alamin Bhuyan", )

mycursor4.execute(sql, adr)

mydb4.commit()

print(mycursor4.rowcount, "record(s) deleted")

1 record(s) deleted

### Delete a Table with if table is exists

In [19]:
# sql = "DROP TABLE customers"

# sql = "DROP TABLE IF EXISTS customers"

# mycursor.execute(sql)

### Update table with Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in update statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder %s to escape values in the delete statement

In [20]:
sql = "UPDATE customers SET address = %s WHERE address = %s"

val = ("Valley 345", "Canyon 123")

mycursor4.execute(sql, val)

mydb4.commit()

print(mycursor4.rowcount, "record(s) affected")

0 record(s) affected